{% extends 'base.html' %}

{% block content %}
<br></br>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    To finish registering, please enter the below info!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
  </div>

{% endif %}
    <br></br>
    <h1 class='h2 green_text'>Finish Profile</h1>
    <br></br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br></br>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
{% endblock %}