{% extends 'base.html' %}

{% block content %}
    <center>
        <br></br>
        <h1 class="h2 green_text">Lend New Book</h1>
        <br></br>
        {% if submitted %}
            Your book was submitted successfully! It will appear under your profile and in the library after being reviewed.

        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>

        {% endif %}
    </center>
{% endblock %}